<!DOCTYPE html>
<html>
  <head>
    <title>SofaSurfer</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <link rel="manifest" href="/manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
